<%# <h1>Your readings:</h1>

<div data-controller="graphics"  >
   <div data-graphics-target="time">
          <% @times_co2 %>
      <%# </div> %>
      <%# <div data-graphics-target="reading"> %>
          <%# <% @levels_co2 %> %>
      <%# </div> %>
      <%# <canvas id="bar-chart" data-graphics-target="myChart" width="800" height="450" data="<%= @levels_co2.to_json %>%"></canvas> %>
      <%# <canvas id="bar-chart" data-graphics-target="myChart" width="800" height="450" data-chart-data="<%= @levels_co2.to_json %>"></canvas> %>

    <%# </div> %> %>

<h1>Your readings:</h1>

    <%= @times_co2 %>

    <%= @levels_co2 %>

<div data-controller="graphics">
   <canvas data-graphics-target="myChart" width="400" height="400" data-graphics-chart-data="<%= { labels: @times_co2, data: @levels_co2 }.to_json%>"></canvas>
</div>



<%# <div data-controller="graphics"  >
  <% @pollutants_levels.each do |entry| %>
    <%# <% if entry.parameter.compound == "CO2" %> %>
      <%# <% times = [] %> %>
      <%# <div data-graphics-target="time"> %>
        <%# <% @pollutants_levels.each do |entry| %> %>
          <%# <% times << entry.time_stamp %> %>
        <%# <% end %> %>
        <%# <%= times %> %>
      <%# </div> %>
      <%# <% levels = [] %> %>
      <%# <div data-graphics-target="reading"> %>
        <%# <% @pollutants_levels.each do |entry| %> %>
          <%# <% levels << entry.level %> %>
        <%# <% end %> %>
        <%# <%= levels %> %>
        <%# </div> %>
  <%# <% end %> %>
  <%# <% end %> %> %>


  <%# <% times = [] %>
  <%# <% levels = [] %> %>
  <%# <% @pollutants_levels.each do |entry| %> %>
    <%# <% if entry.parameter.compound == "CO2" %> %>
      <%# <div data-graphics-target="time"> %>
          <%# <% times << entry.time_stamp %> %>
      <%# </div> %>
      <%# <div data-graphics-target="reading"> %>
          <%# <% levels << entry.level %> %>
      <%# </div> %>
  <%# <% end %> %>
  <%# <% end %> %> %>
